<div class="table-responsive">
    <table class="table m-0">
        <thead>
            <tr>
                <th scope="col">@localizer["Description"]</th>
                <th scope="col">@localizer["Men"]</th>
                <th scope="col">@localizer["Women"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (key, value) in dataService.FatPercentageTable)
            {
                <tr>
                    <td>@localizer[key]</td>
                    <td>@string.Format(value.maleMax >= 100 ? ">{0:P0}" : "{0:P0}-{1:P0}", value.maleMin / 100, value.maleMax / 100).Replace(" ", "")</td>
                    <td>@string.Format(value.femaleMax >= 100 ? ">{0:P0}" : "{0:P0}-{1:P0}", value.femaleMin / 100, value.femaleMax / 100).Replace(" ", "")</td>
                </tr>
            }
        </tbody>
    </table>
</div>