<label>
    @localizer["Age"]
</label>
<div class="input-group mb-3">
    <input type="number"
           class="form-control @(Model.AgeValid ? "is-valid" : "is-invalid")"
           placeholder="@localizer["Age"]"
           aria-label="@localizer["Age"]"
           step="0.1"
           min="@JacksonAndPollock3SiteSkinFoldModel.AgeMinMax.min"
           max="@JacksonAndPollock3SiteSkinFoldModel.AgeMinMax.max"
           @bind="Model.Age"
           @bind:event="oninput"
           @onchange="() => ModelChanged.InvokeAsync(Model)" />
</div>

@if (Model.Gender == GenderType.Male)
{
    <label>
        @localizer["Chest (mm)"]
    </label>
    <div class="input-group mb-3">
        <input type="number"
               class="form-control @(Model.ChestMmValid ? "is-valid" : "is-invalid")"
               placeholder="@localizer["Chest (mm)"]"
               aria-label="@localizer["Chest (mm)"]"
               step="0.1"
               min="@JacksonAndPollock3SiteSkinFoldModel.ChestMmMinMax.min"
               max="@JacksonAndPollock3SiteSkinFoldModel.ChestMmMinMax.max"
               @bind="Model.ChestMm"
               @bind:event="oninput"
               @onchange="() => ModelChanged.InvokeAsync(Model)" />
    </div>

    <label>
        @localizer["Abdomen (mm)"]
    </label>
    <div class="input-group mb-3">
        <input type="number"
               class="form-control @(Model.AbdomenMmValid ? "is-valid" : "is-invalid")"
               placeholder="@localizer["Abdomen (mm)"]"
               aria-label="@localizer["Abdomen (mm)"]"
               step="0.1"
               min="@JacksonAndPollock3SiteSkinFoldModel.AbdomenMmMinMax.min"
               max="@JacksonAndPollock3SiteSkinFoldModel.AbdomenMmMinMax.max"
               @bind="Model.AbdomenMm"
               @bind:event="oninput"
               @onchange="() => ModelChanged.InvokeAsync(Model)" />
    </div>
}
else if (Model.Gender == GenderType.Female)
{
    <label>
        @localizer["Hip (mm)"]
    </label>
    <div class="input-group mb-3">
        <input type="number"
               class="form-control @(Model.HipMmValid ? "is-valid" : "is-invalid")"
               placeholder="@localizer["Hip (mm)"]"
               aria-label="@localizer["Hip (mm)"]"
               step="0.1"
               min="@JacksonAndPollock3SiteSkinFoldModel.HipMmMinMax.min"
               max="@JacksonAndPollock3SiteSkinFoldModel.HipMmMinMax.max"
               @bind="Model.HipMm"
               @bind:event="oninput"
               @onchange="() => ModelChanged.InvokeAsync(Model)" />
    </div>

    <label>
        @localizer["Tricep (mm)"]
    </label>
    <div class="input-group mb-3">
        <input type="number"
               class="form-control @(Model.TricepMmValid ? "is-valid" : "is-invalid")"
               placeholder="@localizer["Tricep (mm)"]"
               aria-label="@localizer["Tricep (mm)"]"
               step="0.1"
               min="@JacksonAndPollock3SiteSkinFoldModel.TricepMmMinMax.min"
               max="@JacksonAndPollock3SiteSkinFoldModel.TricepMmMinMax.max"
               @bind="Model.TricepMm"
               @bind:event="oninput"
               @onchange="() => ModelChanged.InvokeAsync(Model)" />
    </div>

}

@if (Model.Gender == GenderType.Male || Model.Gender == GenderType.Female)
{
    <label>
        @localizer["Thigh (mm)"]
    </label>
    <div class="input-group mb-3">
        <input type="number"
               class="form-control @(Model.ThighMmValid ? "is-valid" : "is-invalid")"
               placeholder="@localizer["Thigh (mm)"]"
               aria-label="@localizer["Thigh (mm)"]"
               step="0.1"
               min="@JacksonAndPollock3SiteSkinFoldModel.ThighMmMinMax.min"
               max="@JacksonAndPollock3SiteSkinFoldModel.ThighMmMinMax.max"
               @bind="Model.ThighMm"
               @bind:event="oninput"
               @onchange="() => ModelChanged.InvokeAsync(Model)" />
    </div>
}

<FatPercentageAndBracketComponent Gender="@Model.Gender" FatPercentage="@Model.FatPercentage" />

@code {
    [Parameter] public JacksonAndPollock3SiteSkinFoldModel Model { get; set; } = new JacksonAndPollock3SiteSkinFoldModel();

    [Parameter] public EventCallback<JacksonAndPollock3SiteSkinFoldModel> ModelChanged { get; set; }
}
